<form class="login-container" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <p>
        <input formControlName="userName" id="userName" name="user" placeholder="Enter your user name" (keyup)="isExistUser = true">
        <!-- <label for="username" [ngClass]="{'label':true,'full':userName.value!=''}"></label> -->
    </p>
     <div *ngIf="userName.errors&& userName.touched">
          <p *ngFor="let err of objectHolder.values(userName.errors)" class="myAlert">{{err}}</p>
        </div>
    <p> 
      <input type="password" name="lastPass" placeholder="Enter your last password" formControlName="lastPass" id="password" (keyup)="isExistUser = true">
      <!-- <label for="password" [ngClass]="{'label':true,'full':password.value!=''}"></label> -->
    </p>
    <p> 
        <input type="password" name="newPass" placeholder="Enter a new password" formControlName="newPass" id="password" (keyup)="isExistUser = true">
        <!-- <label for="password" [ngClass]="{'label':true,'full':password.value!=''}"></label> -->
      </p>
      <p> 
          <input type="password" name="confirmPass" placeholder="Confirm your new password" formControlName="confirmPass" id="password" (keyup)="isExistUser = true">
          <!-- <label for="password" [ngClass]="{'label':true,'full':password.value!=''}"></label> -->
        </p>

    <p>
      <input type="submit" value="Change" [disabled]="loginFormGroup.invalid">
    </p>

  </form>