
  <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4>{{title || 'Confirm'}}</h4>
           <button type="button" class="close" (click)="close()" >&times;</button>
         </div>
         <div class="modal-body">
           <p>{{message}}</p>
           <div class="group">
              <form class="login-container" [formGroup]="password" (ngSubmit)="onSubmit()">
                  <p>
                      <input formControlName="userName" id="userName" name="user" placeholder="Enter your user name" (keyup)="isExistUser = true">
                  </p>
                   <div *ngIf="userName.errors&& userName.touched">
                        <p *ngFor="let err of objectHolder.values(userName.errors)" class="myAlert">{{err}}</p>
                      </div>
                  <p> 
                    <input type="password" name="lastPass" placeholder="Enter your last password" formControlName="lastPass" (keyup)="isExistUser = true">
                  </p>
                  <div *ngIf="lastPass.errors&& lastPass.touched">
                      <p *ngFor="let err of objectHolder.values(lastPass.errors)" class="myAlert">{{err}}</p>
                    </div>
                  <p> 
                      <input type="password" name="newPass" placeholder="Enter a new password" formControlName="newPass" (keyup)="isExistUser = true">
                    </p>
                    <div *ngIf="newPass.errors&& newPass.touched">
                        <p *ngFor="let err of objectHolder.values(newPass.errors)" class="myAlert">{{err}}</p>
                      </div>
                    <p> 
                        <input type="password" name="confirmPass" placeholder="Confirm your new password" formControlName="confirmPass" (keyup)="isExistUser = true">
                      </p>   
                </form>
          </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary btn_sign" (click)="confirm()">Change</button>
           <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
         </div>
       </div>
    </div>