<div class="blog-card">

    <div class="description">

        <h1>{{project.Name}}</h1>
        <hr>
<label>customer:</label><label>{{project.Customer}}</label>
    <br>
<label>develop hours:</label><label>{{project.DevelopHours}}</label>
  <br>
<label>QA hours:</label><label>{{project.QAHours}}</label>
  <br>
<label>Ui/Ux hours:</label><label>{{project.UiUxHours}}</label>
 <br>
<label>end date:</label><label>{{project.EndDate}}</label>
 <br>
<label>start date:</label><label>{{project.StartDate}}</label>

    </div>
</div>



