/*PEN STYLES*/
* {
    box-sizing: border-box;
  }
  
  body {
    background: #f1f1f1;
    margin: 2rem;
  }
  
  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
  }
 
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
 
  .blog-card label {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card label:first-of-type {
    margin-top: 1.25rem;
  }
  
 
    .blog-card .description {
      flex-basis: 60%;
    }
    h1{
        text-align:center;
    }
    
  