<div class="blog-card">

    <div class="description">
        <div class="wrap"  > 
            <h1>{{project.Name}}</h1>
            
              <div  class="circle" title="more deatails"  (click)="openProjectDeatails()"  >
               <div><h2>+</h2></div> 
              </div>
              
            </div>
            <hr>
       
<label>customer:</label><label>{{project.Customer}}</label>
    <br>
<label>develop hours:</label><label>{{project.DevelopHours}}</label>
  <br>
<label>QA hours:</label><label>{{project.QAHours}}</label>
  <br>
<label>Ui/Ux hours:</label><label>{{project.UiUxHours}}</label>
 <br>
<label>end date:</label><label>{{project.EndDate | date: 'dd/MM/yyyy '}}</label>
 <br>
<label>start date:</label><label>{{project.StartDate| date: 'dd/MM/yyyy '}}</label>

    </div>
</div>



