<div >
    <p>Today is: {{today | date:'fullDate'}}</p>
    <div *ngIf="t">
    <p >You started at:  {{startTask | date:'hh:mm:ss a z'}}</p>
    <P >you work: {{ t | date:'hh:mm:ss'}} at {{currectProject.Name}}</P>
  
  </div>
  </div>
  <div>
   
    <button (click)="send()">send email</button> 
  </div>
  

<div class="row">
  <div class="col-md-3" *ngFor="let project of projects" >
    <app-hours  [hour]=(project) (click)="updateHours(project)"></app-hours>
    
  </div>
</div>
<div *ngIf="projects">
<app-chart [projects]=projects></app-chart>
</div>