@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

form {
    padding-top: 5%;
    position: relative;
	height: 67%;
	font-family: cursive;
}

	.group {
		position: relative;
		text-align: left;
		width: 80%;
		margin: 0 10%;
		margin-bottom: 5%;
	}
	
	.inputMaterial {
		font-size: 18px !important;
		display: block;
		width: 100%;
		border: none !important;
		border-bottom: 1px solid #757575 !important;
		font-family: "Segoe UI" !important;
		background: none !important;
		height: 32px;
	}
	
	.inputMaterial:focus {
		outline: none;
	}
	
	/* LABEL ======================================= */
	.label {
		color: #999;
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		right: 5px;
		top: 6px;
		font-family: "Segoe UI" !important;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		width: 100%;
		text-align: left;
	}
	
		/* active state */
		.inputMaterial:focus ~ .label, .label.full {
			top: -20px;
			font-size: 14px;
			color: #2196F3;
		}
	
	/* active state */
	.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
		width: 50%;
	}
	
	/* active state */
	.inputMaterial:focus ~ .highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}
	
	@-webkit-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}
	
	@-moz-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}
	
	@keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}

	.myAlert{
		color: red;
	}

.login {
  width: 40%;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #B06AB3;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.details{
	/* float: left; */
	margin-right: 8vh;
	width: 30%;
}
.dates{
	width: 31%;
    float: right;
    margin-right: 17vh;
    margin-top: -21vh;
}

.button
{
	width: 11%;
    float: right;
    background-color: thistle;
    margin-top:-3vh; 
    /* margin-top: -5vh; */

}