<div class="login">
  <form class="login-container" [formGroup]="addProjectGroup" (ngSubmit)="onSubmit()">
    <div class="details">
    <div class="group">
      <input id="Name" class="inputMaterial" formControlName="Name">
      <label>Project Name</label>
      <div *ngIf="Name&&addProjectGroup.controls['Name'].errors&& Name.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['Name'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <input id="Customer" class="inputMaterial" formControlName="Customer">
      <label>Customer Name</label>
      <div *ngIf="Customer&&addProjectGroup.controls['Customer'].errors&& Customer.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['Customer'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <select formControlName="TeamLeaderId" (change)="onChange($event.target.value)">
        <option *ngFor="let team of teamLeader" [ngValue]="team.Id">
          {{team.Name}}
        </option>
      </select>
      <label>Team Leader</label> 
    </div>
  </div>

    <div class="hours">
    <div class="group">
     <input type="number" min="0" id="DevelopHours" class="inputMaterial" formControlName="DevelopHours">
      <label>Develop Houres</label>
      <div *ngIf="DevelopHours&&addProjectGroup.controls['DevelopHours'].errors&& DevelopHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['DevelopHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <input type="number" min="0" id="QAHours" class="inputMaterial" formControlName="QAHours">
      <label>QA Houres</label>
      
      <div *ngIf="QAHours&&addProjectGroup.controls['QAHours'].errors&& QAHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['QAHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <input type="number" min="0" id="UiUxHours" class="inputMaterial" formControlName="UiUxHours">
      <label>UI/UX Houres</label>
      
      <div *ngIf="UiUxHours&&addProjectGroup.controls['UiUxHours'].errors&& UiUxHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['UiUxHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
  </div>
<div class="dates">
  <div>
    <mat-form-field>
        <input formControlName="StartDate" ngDefaultControl matInput [min]="minStartDate" [matDatepicker]="picker1" placeholder="Start Date" (dateChange)="changedate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    <div *ngIf="StartDate&&addProjectGroup.controls['StartDate'].errors&& StartDate.touched">
      <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['StartDate'].errors)" class="myAlert">{{err}}</p>
    </div>
  </div>
  <div>
      <mat-form-field >
          <input formControlName="EndDate" ngDefaultControl matInput [min]="minEndDate" [matDatepicker]="picker2" placeholder="End Date">
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>   
    <div *ngIf="EndDate&&addProjectGroup.controls['EndDate'].errors&& EndDate.touched">
      <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['EndDate'].errors)" class="myAlert">{{err}}</p>
    </div>
  </div>
</div>
<div class="addWorkers">
   <p>select workers to add:</p>
  <select (change)="addWorker($event.target.value)">
    <option></option>
    <option *ngFor="let worker of workersToSelect" [ngValue]="worker.Id">
      {{worker.Name}}
    </option>
  </select> 

   <p>select workers to remove:</p>
  <select (change)="removeWorker($event.target.value)">
    <option></option>
    <option *ngFor="let worker of workersToAdd" [ngValue]="worker.Id">
      {{worker.Name}}
    </option>
  </select>

</div>

<button type="submit" class="button" [disabled]="addProjectGroup.invalid">Add</button>
</form>
</div>