<div class="login">
  <form class="login-container" [formGroup]="addProjectGroup" (ngSubmit)="onSubmit()">
    <div class="details">
    <div class="group">
      <!-- <input id="Name" class="inputMaterial" formControlName="Name"> -->
      <mat-form-field class="example-full-width">
          <input matInput formControlName="Name" #message maxlength="15" minlength="2" placeholder="Project Name">
          <mat-hint align="end">{{message.value.length}} / 15</mat-hint>
        </mat-form-field>
      <!-- <label>Project Name</label> -->
      <div *ngIf="Name&&addProjectGroup.controls['Name'].errors&& Name.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['Name'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <!-- <input id="Customer" class="inputMaterial" formControlName="Customer"> -->
      <!-- <label>Customer Name</label> -->
      <mat-form-field class="example-full-width">
          <input matInput formControlName="Customer" #message1 maxlength="10" minlength="2" placeholder="Customer Name">
          <mat-hint align="end">{{message1.value.length}} / 10</mat-hint>
        </mat-form-field>
      <div *ngIf="Customer&&addProjectGroup.controls['Customer'].errors&& Customer.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['Customer'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">

        <mat-form-field>
            <mat-select formControlName="TeamLeaderId" placeholder="Team Leader" [(ngModel)]="selectedValue" name="food" (change)="onChange($event.target.value)">
              <mat-option *ngFor="let team of teamLeader" [value]="team.Id">
                  {{team.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

<!-- 
      <select formControlName="TeamLeaderId" (change)="onChange($event.target.value)">
        <option *ngFor="let team of teamLeader" [ngValue]="team.Id">
          {{team.Name}}
        </option>
      </select>
      <label>Team Leader</label> -->
      <!-- <div *ngIf="addProjectGroup.controls['TeamLeaderId'].errors">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['TeamLeaderId'].errors)" class="myAlert">{{err}}</p>
      </div>  -->
    </div>
  </div>
    <div class="hours">
    <div class="group">
      <!-- <input type="number" min="0" id="DevelopHours" class="inputMaterial" formControlName="DevelopHours">
      <label>Develop Houres</label> -->

      <mat-form-field>
          <input matInput type="number" placeholder="Develop Houres" formControlName="DevelopHours" min="0">
        </mat-form-field>
      <div *ngIf="DevelopHours&&addProjectGroup.controls['DevelopHours'].errors&& DevelopHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['DevelopHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <!-- <input type="number" min="0" id="QAHours" class="inputMaterial" formControlName="QAHours">
      <label>QA Houres</label> -->
      
      <mat-form-field>
          <input matInput type="number" placeholder="QA Houres" formControlName="QAHours" min="0">
        </mat-form-field>
      <div *ngIf="QAHours&&addProjectGroup.controls['QAHours'].errors&& QAHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['QAHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
    <div class="group">
      <!-- <input type="number" min="0" id="UiUxHours" class="inputMaterial" formControlName="UiUxHours">
      <label>UI/UX Houres</label> -->
      
      <mat-form-field>
          <input matInput type="number" placeholder=">UI/UX Houres" formControlName="UiUxHours" min="0">
        </mat-form-field>
      <div *ngIf="UiUxHours&&addProjectGroup.controls['UiUxHours'].errors&& UiUxHours.touched">
        <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['UiUxHours'].errors)" class="myAlert">{{err}}</p>
      </div>
    </div>
  </div>
<div class="dates">
  <div>
    <mat-form-field>
        <input formControlName="StartDate" ngDefaultControl matInput [min]="minStartDate" [matDatepicker]="picker1" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    <div *ngIf="StartDate&&addProjectGroup.controls['StartDate'].errors&& StartDate.touched">
      <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['StartDate'].errors)" class="myAlert">{{err}}</p>
    </div>
  </div>
  <div>
      <mat-form-field >
          <input formControlName="EndDate" ngDefaultControl matInput [min]="minEndDate" [matDatepicker]="picker2" placeholder="End Date">
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>   
    <div *ngIf="EndDate&&addProjectGroup.controls['EndDate'].errors&& EndDate.touched">
      <p *ngFor="let err of objectHolder.values(addProjectGroup.controls['EndDate'].errors)" class="myAlert">{{err}}</p>
    </div>
  </div>
</div>
<div class="addWorkers">
  <!-- <p>select workers to add:</p>
  <select (change)="addWorker($event.target.value)">
    <option></option>
    <option *ngFor="let worker of workersToSelect" [ngValue]="worker.Id">
      {{worker.Name}}
    </option>
  </select> -->

  <mat-form-field>
      <mat-select placeholder="select workers to add:" name="worker" (change)="addWorker($event.target.value)">
        <mat-option *ngFor="let worker of workersToSelect" [value]="worker.Id">
            {{worker.Name}}
          </mat-option>
      </mat-select>
    </mat-form-field>

  <!-- <p>select workers to remove:</p>
  <select (change)="removeWorker($event.target.value)">
    <option></option>
    <option *ngFor="let worker of workersToAdd" [ngValue]="worker.Id">
      {{worker.Name}}
    </option>
  </select> -->

  <mat-form-field>
      <mat-select placeholder="select workers to remove:" name="worker1" (change)="removeWorker($event.target.value)">
        <mat-option *ngFor="let worker of workersToAdd" [value]="worker.Id">
            {{worker.Name}}
          </mat-option>
      </mat-select>
    </mat-form-field>

</div>

<button type="submit" class="button" [disabled]="addProjectGroup.invalid">Add</button>
</form>
</div>