@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}


form {
    padding-top: 5%;
    position: relative;
    height: 67%;
}

.thumbur {
    width: 75px;
    height: 75px;
    position: relative;
    background-color: #efefef;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEFEFEF', endColorstr='#FFE1E1E1');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: linear-gradient(to right, #efefef 0%, #efefef 50%, #e1e1e1 50%, #e1e1e1 100%);
    margin: auto;
    border-radius: 100%;
}

    .thumbur:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 12px;
        background-color: #efefef;
        left: 50%;
        bottom: 22px;
        z-index: 5;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
	/* ============form============= */
	.group {
		position: relative;
		text-align: left;
		width: 80%;
		margin: 0 10%;
		margin-bottom: 5%;
	}
	
	.inputMaterial {
		font-size: 18px !important;
		display: block;
		width: 100%;
		border: none !important;
		border-bottom: 1px solid #757575 !important;
		font-family: "Segoe UI" !important;
		background: none !important;
		height: 32px;
	}
	
	#email, #password, #confirmPassword {
		direction: ltr;
	}
	
	.inputMaterial:focus {
		outline: none;
	}
	
	/* LABEL ======================================= */
	.label {
		color: #999;
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		right: 5px;
		top: 6px;
		font-family: "Segoe UI" !important;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		width: 100%;
		text-align: left;
	}
	
		/* active state */
		.inputMaterial:focus ~ .label, .label.full {
			top: -20px;
			font-size: 14px;
			color: #2196F3;
		}
	
	/* BOTTOM BARS ================================= */
	.bar {
		position: relative;
		display: block;
		width: 100%;
	}
	
		.bar:before, .bar:after {
			content: '';
			height: 2px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: #2196f3cf;
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition: 0.2s ease all;
		}
	
		.bar:before {
			left: 50%;
		}
	
		.bar:after {
			right: 50%;
		}
	
	/* active state */
	.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
		width: 50%;
	}
	
	/* active state */
	.inputMaterial:focus ~ .highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}
	
	@-webkit-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}
	
	@-moz-keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}
	
	@keyframes inputHighlighter {
		from {
			background: #5264AE;
		}
	
		to {
			width: 0;
			background: transparent;
		}
	}

	.myAlert{
		color: red;
	}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #B06AB3;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}