<div class="container" *ngIf="workerService.idJob==1">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/taskManagers/home/addProject">Add Project</a></li>
    <li routerLinkActive="active"><a routerLink="/taskManagers/home/repotrs">Repotrs</a></li>
    <li routerLinkActive="active"><a routerLink="/taskManagers/home/usersManagers">Users Managers</a></li>
  </ul>
</div>

 <div class="container" *ngIf="workerService.idJob==2">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/taskManagers/home/teamLeaderProjects">projects</a></li>
    <li routerLinkActive="active"><a routerLink="/taskManagers/home/teamLeaderWorkers">workers</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
