<nav class="navbar">

    <ul *ngIf="workerService.idJob==1">
      <li routerLinkActive="active">
        <a routerLink="/taskManagers/home/addProject">Add Project</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/taskManagers/home/repotrs">Repotrs</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/taskManagers/home/usersManagers">Users Managers</a>
      </li>
    </ul>
    <ul  *ngIf="workerService.idJob==2">
      <li routerLinkActive="active">
        <a routerLink="/taskManagers/home/teamLeaderProjects">projects</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/taskManagers/home/teamLeaderWorkers">workers</a>
      </li>
    </ul>


</nav>

<router-outlet class="container"></router-outlet>


